<div class="card" class="mt-3"  >
  <div class="card-header text-white bg-info">
    <h5>Détails du produit {{numCompte}} </h5>
  </div>
  <div class="card-body col-6 offset-1">

 <table class="table table-bordered table-striped ">
    <tbody>
     <tr >
       <td><strong>Numero</strong></td>
       <td>{{compte.numero}}</td>
     </tr>
     <tr >
      <td><strong>Proprietaire</strong></td>
      <td>{{compte.proprietaire}}</td>
    </tr>
    <tr >
      <td><strong>Solde</strong></td>
      <td>{{compte.solde | currency:"EUR":"symbol"}}</td>
    </tr>
   </tbody>
 </table>
 <button type="button" class="btn btn-outline-info"  (click)="navigateToList()">Vers la liste des produits</button>
  </div>

</div>
