<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink= '/welcome'>LB Consulting Banking</a>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink= '/list' *ngIf="isLoggedIn() && getJwtSubjet()=='admin'">Espace Agent <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink= '/client'  *ngIf="isLoggedIn() && getJwtSubjet()=='user'">Espace Client</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf= !isLoggedIn()>
            <a class="nav-link"  [routerLink]="['/login']" [queryParams]="{  'returnUrl' : '/welcome' }">Login</a> </li>
      <li class="nav-item" *ngIf= isLoggedIn()>
        <a class="nav-link" routerLink= '/logout'>Logout</a>
      </li>
      </ul>
    </div>
</nav>
